.movies {
    padding: 2rem;
    background-color: var(--app-bg-color);
    color: var(--app-text-color);

    .collection-title {
        text-align: center;
        margin-bottom: 2rem;
        // color: white;
    }
    .movies-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .col-md-4 {
            display: flex; // Added to center content inside each column
            justify-content: center; // Centers card inside column
            margin-bottom: 1rem; // Adjust margin as needed
        }

        .card {
            width: 25rem;
            cursor: pointer;
        }
    }
}
