<section class="intro px-4 py-5 text-center">
    <img
        class="d-block mx-auto mb-4"
        src="../../../assets/meowflix_logo.png"
        alt=""
        width="100"
        height="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome To Meowflix</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Watch downloaded movies without restrictions</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button
                type="button"
                class="button primary-btn btn-lg px-4 gap-3"
                (click)="util.navigate('/login')"
            >
                Login
            </button>
            <button
                type="button"
                class="button primary-btn-outline btn-lg px-4"
                (click)="util.navigate('/register')"
            >
                Register
            </button>
        </div>
    </div>
</section>
