<div class="toast-container">
    <div class="toast">
        <div class="toast-header">
            <div class="d-flex">
                <div class="icon-square" [ngClass]="toastIconColor"></div>
                <strong class="mr-auto">{{ toastTitle }}</strong>
            </div>
            <button
                type="button"
                class="close"
                data-dismiss="toast"
                (click)="toast.clearToast()"
            >
                &times;
            </button>
        </div>
        <div class="toast-body">{{ message }}</div>
    </div>
</div>
