.login,
.message {
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 2rem;
    // background-color: var(--app-bg-color);
    // color: var(--app-text-color);
}

.login-section {
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
}

// .message {
//     padding-top: 4rem;
//     margin-bottom: 0 !important;
// }
